torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
accelerate==1.10.1
bitsandbytes==0.47.0
safetensors==0.6.2
einops==0.8.1
triton==3.1.0
numpy==2.2.6
pandas==2.3.2
transformers @ git+https://github.com/huggingface/transformers@b0db5a02f39ebd2ccffd7f8eb77091fda61f9a1e

flash_attn==2.8.3
qwen-vl-utils==0.0.8
tokenizers==0.22.0
huggingface-hub==0.34.4

av==15.1.0
decord==0.6.0
pillow==11.0.0

fsspec==2025.7.0
hf-xet==1.1.9
packaging==25.0
psutil==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.8.29
six==1.17.0
sympy==1.13.1
tqdm==4.67.1
tzdata==2025.2
zstandard==0.23.0